@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font-family-sans);
    font-stretch: var(--font-width-semi-expanded);
    background-color: var(--color-purple-50);
  }

  h2 {
    color: var(--color-purple-800);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
  }

  h3 {
    color: var(--color-purple-800);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-bold);
  }

  p {
    font-size: var(--font-size-sm);
    color: var(--color-gray-400);
  }
}
