@layer semantic {
  :root {
    /* Colors */
    --color-surface: var(--color-white);
    --color-error: var(--color-red-500);
    --color-error-strong: var(--color-red-800);

    /* Focus ring */
    --focus-ring-color: var(--color-purple-500);
    --focus-ring-width: 0.2rem;
  }
}
